<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTV2,1</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>2G</string>
		<key>Variant</key>
		<string>Original</string>
	</dict>
	<key>AppleTV3,1</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>3G</string>
		<key>Variant</key>
		<string>Original</string>
	</dict>
	<key>AppleTV3,2</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>3G</string>
		<key>Variant</key>
		<string>Rev A</string>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 1G</string>
	</dict>
	<key>iPad2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad2,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad2,3</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPad2,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>WiFi Mid 2012</string>
	</dict>
	<key>iPad3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad3,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPad3,3</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad3,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad3,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad3,6</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad4,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad2,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad2,6</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad2,7</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad4,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini Retina</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad4,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini Retina</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPhone1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 2G</string>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 3G</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 3GS</string>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone3,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM Rev A</string>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPhone4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4S</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
	</dict>
	<key>iPhone5,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone5,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
	</dict>
	<key>iPhone5,3</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5c</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone5,4</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5c</string>
		<key>Variant</key>
		<string>Global</string>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5s</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5s</string>
		<key>Variant</key>
		<string>Global</string>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 1G</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 2G</string>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 3G</string>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 4G</string>
	</dict>
	<key>iPod5,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 5G</string>
	</dict>
	<key>i386</key>
	<dict>
		<key>Generation</key>
		<string>Simulator</string>
	</dict>
	<key>x86_64</key>
	<dict>
		<key>Generation</key>
		<string>Simulator</string>
	</dict>
	<key>MacBook1,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
	</dict>
	<key>MacBook2,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>Late 2006</string>
	</dict>
	<key>MacBook3,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Late 2007</string>
	</dict>
	<key>MacBook4,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Early 2008</string>
	</dict>
	<key>MacBook5,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Aluminium, Late 2008</string>
	</dict>
	<key>MacBook5,2</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Early 2009</string>
	</dict>
	<key>MacBook6,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Late 2009</string>
	</dict>
	<key>MacBook7,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Variant</key>
		<string>13-inch, Mid 2010</string>
	</dict>
	<key>MacBookPro1,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Original</string>
	</dict>
	<key>MacBookPro1,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Variant</key>
		<string>17-inch</string>
	</dict>
	<key>MacBookPro2,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Variant</key>
		<string>17-inch, Core 2 Duo</string>
	</dict>
	<key>MacBookPro2,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Variant</key>
		<string>15-inch, Core 2 Duo</string>
	</dict>
	<key>MacBookPro3,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2007</string>
	</dict>
	<key>MacBookPro4,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2008</string>
	</dict>
	<key>MacBookPro5,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2008</string>
	</dict>
	<key>MacBookPro5,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2009</string>
		<key>Variant</key>
		<string>17-inch</string>
	</dict>
	<key>MacBookPro5,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2009</string>
		<key>Variant</key>
		<string>15-inch</string>
	</dict>
	<key>MacBookPro5,5</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2009</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookPro6,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Variant</key>
		<string>17-inch</string>
	</dict>
	<key>MacBookPro6,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Variant</key>
		<string>15-inch</string>
	</dict>
	<key>MacBookPro7,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookPro8,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookPro8,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Variant</key>
		<string>15-inch</string>
	</dict>
	<key>MacBookPro8,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Variant</key>
		<string>17-inch</string>
	</dict>
	<key>MacBookPro9,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>15-inch</string>
	</dict>
	<key>MacBookPro9,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookPro10,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
	</dict>
	<key>MacBookPro10,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
	</dict>
	<key>MacBookPro11,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
	</dict>
	<key>MacBookPro11,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
	</dict>
	<key>MacBookPro11,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
	</dict>
	<key>iMac4,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2006</string>
	</dict>
	<key>iMac4,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2006</string>
		<key>Variant</key>
		<string>17-inch</string>
	</dict>
	<key>iMac5,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2006</string>
	</dict>
	<key>iMac5,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2006</string>
		<key>Variant</key>
		<string>17-inch, Core Duo</string>
	</dict>
	<key>iMac7,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2007</string>
	</dict>
	<key>iMac8,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2008</string>
	</dict>
	<key>iMac9,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2009</string>
	</dict>
	<key>iMac10,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2009</string>
	</dict>
	<key>iMac11,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2009</string>
		<key>Variant</key>
		<string>27-inch</string>
	</dict>
	<key>iMac11,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Variant</key>
		<string>21.5-inch</string>
	</dict>
	<key>iMac11,3</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Variant</key>
		<string>27-inch</string>
	</dict>
	<key>iMac12,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>21.5-inch</string>
	</dict>
	<key>iMac12,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>27-inch</string>
	</dict>
	<key>iMac13,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Variant</key>
		<string>21.5-inch</string>
	</dict>
	<key>iMac13,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Variant</key>
		<string>27-inch</string>
	</dict>
	<key>iMac14,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
	</dict>
	<key>iMac14,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>27-inch</string>
	</dict>
	<key>iMac14,3</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
	</dict>
	<key>MacBookAir1,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Early 2008</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookAir2,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookAir3,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Late 2010</string>
		<key>Variant</key>
		<string>11-inch</string>
	</dict>
	<key>MacBookAir3,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Late 2010</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookAir4,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>11-inch</string>
	</dict>
	<key>MacBookAir4,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookAir5,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>11-inch</string>
	</dict>
	<key>MacBookAir5,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>MacBookAir6,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2013</string>
		<key>Variant</key>
		<string>11-inch</string>
	</dict>
	<key>MacBookAir6,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2013</string>
		<key>Variant</key>
		<string>13-inch</string>
	</dict>
	<key>Xserve1,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Late 2006</string>
	</dict>
	<key>Xserve2,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Early 2008</string>
	</dict>
	<key>Xserve3,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Early 2009</string>
	</dict>
	<key>MacPro1,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Variant</key>
		<string>Original</string>
	</dict>
	<key>MacPro2,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Variant</key>
		<string>8-core</string>
	</dict>
	<key>MacPro3,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Variant</key>
		<string>Early 2008</string>
	</dict>
	<key>MacPro4,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Variant</key>
		<string>Early 2009</string>
	</dict>
	<key>MacPro5,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Variant</key>
		<string>Mid 2010</string>
	</dict>
	<key>Macmini1,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Early 2006</string>
	</dict>
	<key>Macmini3,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Early 2009</string>
	</dict>
	<key>Macmini4,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2010</string>
	</dict>
	<key>Macmini5,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>Intel graphics</string>
	</dict>
	<key>Macmini5,2</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>Radeon graphics</string>
	</dict>
	<key>Macmini5,3</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Variant</key>
		<string>Server</string>
	</dict>
	<key>Macmini6,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Late 2012</string>
	</dict>
</dict>
</plist>
