<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTV2,1</key>
	<dict>
		<key>Generation</key>
		<string>Apple TV 2G</string>
		<key>Variant</key>
		<string>Original</string>
	</dict>
	<key>AppleTV3,1</key>
	<dict>
		<key>Generation</key>
		<string>Apple TV 3G</string>
		<key>Variant</key>
		<string>Original</string>
	</dict>
	<key>AppleTV3,2</key>
	<dict>
		<key>Generation</key>
		<string>Apple TV 3G</string>
		<key>Variant</key>
		<string>Rev A</string>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 1G</string>
	</dict>
	<key>iPad2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad2,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad2,3</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPad2,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>WiFi Mid 2012</string>
	</dict>
	<key>iPad3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad3,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPad3,3</key>
	<dict>
		<key>Generation</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad3,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad3,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad3,6</key>
	<dict>
		<key>Generation</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad4,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad2,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad2,6</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPad2,7</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPad4,4</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini Retina</string>
		<key>Variant</key>
		<string>WiFi</string>
	</dict>
	<key>iPad4,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini Retina</string>
		<key>Variant</key>
		<string>Cellular</string>
	</dict>
	<key>iPhone1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 2G</string>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 3G</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 3GS</string>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone3,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM Rev A</string>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>CDMA</string>
	</dict>
	<key>iPhone4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 4S</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
	</dict>
	<key>iPhone5,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone5,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
	</dict>
	<key>iPhone5,3</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5c</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone5,4</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5c</string>
		<key>Variant</key>
		<string>Global</string>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5s</string>
		<key>Variant</key>
		<string>GSM</string>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>Generation</key>
		<string>iPhone 5s</string>
		<key>Variant</key>
		<string>Global</string>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 1G</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 2G</string>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 3G</string>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 4G</string>
	</dict>
	<key>iPod5,1</key>
	<dict>
		<key>Generation</key>
		<string>iPod touch 5G</string>
	</dict>
</dict>
</plist>
